extends layout

block content
  h1= title
  p Hello Welcome to vijay kumar's timeline #{title}
  button(type="button",onclick="update()",class="btn btn-secondary") PressMe
  <br>

  div(id="target") Display
  script.
        let client_count=0;
        function update()
         {
            client_count=client_count+1;
            document.getElementById("target").innerHTML =client_count;

         };